<app-header></app-header>
<div class="carpool-search-page">
  <h2>Pesquisar Carona</h2>
  <form [formGroup]="procurarCaronaForm" (ngSubmit)="onProcurarCarona()">
    <div class="form-group">
      <label for="pontoPartida">Ponto de Partida</label>
      <input
        id="pontoPartida"
        formControlName="pontoPartida"
        type="text"
        required
      />
    </div>
    <div class="form-group">
      <label for="bairroDestino">Bairro de Destino</label>
      <input
        id="bairroDestino"
        formControlName="bairroDestino"
        type="text"
        required
      />
    </div>
    <div class="search-button">
        <button type="submit">Procurar</button>
    </div>
  </form>

  <div class="resultados">
    <h3>Resultados da Pesquisa</h3>
    <app-carpool-result
      nomeMotorista="Phelipe Macedo"
      avaliacaoMotorista="5"
      pontoPartida="IFTM Campus Patrocínio"
      pontoDestino="Patos de Minas"
    ></app-carpool-result>
  </div>
</div>
<app-footer></app-footer>

<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "pacman" [fullScreen] = "true"><p style="color: white" > Carregando... </p></ngx-spinner>