@import '../../../../assets/styles/variables.scss';

.card {
  background-color: $color-secondary;
  padding: 2rem;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  margin-bottom: 1.5rem;

  h4 {
    margin-bottom: 1rem;
    color: $color-text;
  }

  p {
    margin-bottom: 0.5rem;
    color: $color-text;
  }

  iframe {
    border-radius: 0.5rem;
  }
}