<app-header></app-header>
<div class="editar-perfil-page">
  <h2>Editar Perfil</h2>
  <div class="tabs">
    <div class="tab" [class.active]="selectedTab === 'dadosPessoais'" (click)="selectTab('dadosPessoais')">
      Dados Pessoais
    </div>
    <div class="tab" [class.active]="selectedTab === 'endereco'" (click)="selectTab('endereco')">
      Endereço
    </div>
  </div>
  <div class="tab-content">
    <form [formGroup]="editarPerfilForm" (ngSubmit)="onSubmit()">
      <div *ngIf="selectedTab === 'dadosPessoais'">
        <div class="form-group">
          <label for="nome">Nome</label>
          <input id="nome" formControlName="nome" type="text" required>
        </div>
        <div class="form-group">
          <label for="sobrenome">Sobrenome</label>
          <input id="sobrenome" formControlName="sobrenome" type="text" required>
        </div>
        <div class="form-group">
          <label for="cpf">CPF</label>
          <input id="cpf" formControlName="cpf" type="text" required>
        </div>
        <div class="form-group">
          <label for="telefone">Telefone</label>
          <input id="telefone" formControlName="telefone" type="text" required>
        </div>
        <div class="form-group">
            <label for="genero">Gênero</label>
            <select id="genero" formControlName="genero" required>
              <option value="masculino">Masculino</option>
              <option value="feminino">Feminino</option>
              <option value="outro">Outro</option>
            </select>
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input id="email" formControlName="email" type="email" required>
        </div>
        <div class="form-group">
          <label for="senha">Senha</label>
          <input id="senha" formControlName="senha" type="password" required>
        </div>
        <div class="form-group">
          <label for="dataNascimento">Data de Nascimento</label>
          <input id="dataNascimento" formControlName="dataNascimento" type="date" required>
        </div>
      </div>
      <div *ngIf="selectedTab === 'endereco'">
        <div class="form-group">
          <label for="cep">CEP</label>
          <input id="cep" formControlName="cep" type="text" required>
        </div>
        <div class="form-group">
          <label for="logradouro">Logradouro</label>
          <input id="logradouro" formControlName="logradouro" type="text" required>
        </div>
        <div class="form-group">
          <label for="bairro">Bairro</label>
          <input id="bairro" formControlName="bairro" type="text" required>
        </div>
        <div class="form-group">
          <label for="numero">Número</label>
          <input id="numero" formControlName="numero" type="text" required>
        </div>
        <div class="form-group">
          <label for="estado">Estado</label>
          <input id="estado" formControlName="estado" type="text" required>
        </div>
        <div class="form-group">
          <label for="cidade">Cidade</label>
          <input id="cidade" formControlName="cidade" type="text" required>
        </div>
        <div class="form-group">
          <label for="complemento">Complemento</label>
          <input id="complemento" formControlName="complemento" type="text">
        </div>
      </div>
      <div class="form-actions">
        <button type="submit">Salvar</button>
      </div>
    </form>
  </div>
</div>
<app-footer></app-footer>